Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-JWT==0.3.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-RESTful==0.3.7
flask-restplus==0.13.0
gunicorn==19.4.5
h5py==2.10.0
Jinja2==2.11.1
jsonify==0.5
Markdown==3.1.1
MarkupSafe==0.23
numpy==1.16.2
pandas==0.24.2
Pygments==2.7.4
PyJWT==1.4.0
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
scikit-learn==0.20.3
Werkzeug==0.16.1